A workbook to visual the network map.

It compiles the required dataframes, and makes some final name-standardisations to this (eg MS DENISE COATES becomes COATES, DENISE).

It then uses the plotting script, stored as a function in dataPlotter.py, to make a network map.

In [1]:
# import libraries
import pandas as pd
import re
import requests
from bs4 import BeautifulSoup, Tag
import math 

import plotly.graph_objects as go
import networkx as nx
from pyvis.network import Network
import pyvis

import dataGatherers
import dataPlotter

In [21]:
df05309709 = pd.read_csv('CSVs/df05309709.csv')
df08081703 = pd.read_csv('CSVs/df08081703.csv')
dfFC034703 = pd.read_csv('CSVs/dfFC034703.csv')
df04241161 = pd.read_csv('CSVs/df04241161.csv')
df05751462 = pd.read_csv('CSVs/df05751462.csv')

df = pd.concat([df08081703, dfFC034703, df05309709, df04241161, df05751462])
for col in ['company_name','name']:
    df[col] = df[col].str.upper()

### Standardise names where there are misspellings, names are differently ordered, etc. 
### The ifrst references a CSV file with old and new names, the second automatically switches the order around to last name, first name where this was not the case 
dfUPDATEDNAMES = pd.read_csv('CSVs/update_names.csv')
for index, row in dfUPDATEDNAMES.iterrows():
    df.loc[df.name==row['old'], 'name'] = row['new']
for index,row in df.iterrows():
    if pd.notnull(row['name']) and row['name'][0:2] in ['MR','MS']:
        name_split = row['name'].split(' ')
        new_name = f'{name_split[-1]}, {" ".join(name_split[1:-1])}'
        df.loc[index, 'name'] = new_name
            
df.head(2)

,company_number,company_name,number_of_persons,person_type,person_idcode,person_link,name,address-field,address-value,status-tag,...,noc-significant-influence-or-control-as-trust,noc-significant-influence-or-control-as-firm,noc-right-to-appoint-and-remove-directors-as-trust,noc-right-to-appoint-and-remove-directors-as-firm,noc-voting-rights-to-percent-limited-liability-partnership,noc-right-to-share-surplus-assets-to-percent-limited-liability-partnership,noc-right-to-appoint-and-remove-members-limited-liability-partnership,noc-right-to-appoint-and-remove-members-as-trust-limited-liability-partnership,noc-right-to-appoint-and-remove-members-as-firm-limited-liability-partnership,statement-ceased-on
0,8081703,JENNINGSBET ONLINE LIMITED,6,officers,EBtEeDdwyfSo95v8E9mdhsp5rXw,/officers/EBtEeDdwyfSo95v8E9mdhsp5rXw/appointm...,"KNIGHT, VICTORIA EMMA",Correspondence address,"4 Simon Campion Court, 232-234 High Street, Ep...",Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8081703,JENNINGSBET ONLINE LIMITED,6,officers,uYLtb0zMZrw5lM82rlkJjG3deTQ,/officers/uYLtb0zMZrw5lM82rlkJjG3deTQ/appointm...,"KNIGHT, GREGORY ROY",Correspondence address,"Esgors, High Road, Thornwood Common, Epping, E...",Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
g = dataPlotter.makePlot(df, 900, 'company_name', 'name', ['5309709','8081703', 'FC034703', '04241161', '05751462'], 'CSVs/circular_images.csv')

g.show('xxxx.html')